* {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

h1, 
h2, 
h3 {
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 90vw;
    margin: 10px auto;
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #336E7F;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f8f2;
}

main p {
    line-height: 1.5;
    color: #343A40;
}

nav {
    background-color: #BE8580;
    color: white;
}

ul, 
li {
    display: flex;
    text-decoration: none;
    list-style: none;
}

ul {
    padding-inline-start: 0;
    justify-content: space-evenly;
}

li {
    margin: 5px;
}

h2 {
    padding: 15px;
    background-color: #439397;
    color: white;
}

h3 {
    padding: 15px;
    background-color: #BE8580;
    color: white;
}

img {
    max-width: 300px;
}

#featured_image,
#buy_image,
#sell_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featured_image p {
    color: #6c757d;
}

#separator {
    border-top: 3px solid #EDDCCD;
    margin: 10px 0px;
}

footer {
    padding: 10px 15px;
    background-color: #336E7F;
    color: white;
}

footer h1 {
    font-size: 1.25rem;
}

footer p {
    font-size: 12px;
}